{% macro get_links(username) -%}
{{ username }}: [[JAR](https://github.com/{{ username }}/duke/releases)][[User Guide](https://{{ username }}.github.io/duke)][[Code](https://nus-{{ module | lower }}-{{ semester | lower }}.github.io/ip-dashboard/#search={{ username }}&sort=groupTitle&sortWithin=title&since=2020-01-13&timeframe=commit&mergegroup=false&groupSelect=groupByRepos&breakdown=false&tabOpen=true&tabType=authorship&tabAuthor={{ username }}&tabRepo={{ username }}%2Fduke%5Bmaster%5D)]
{%- endmacro  %}

{% macro show_allocation_table() %}
{% set allocations = [
["A11riseforme", "DeetoMok", "kcubey"],
["Bencotti", "hongquan448", "JeremiasLiew"],
["DDzuikeai", "NizarMohd", "ananda-lye"],
["DeetoMok", "kcubey", "A11riseforme"],
["E0309556", "rdimaio", "NyanWunPaing"],
["GanapathySanathBalaji", "Shannonwje", "JensonWee"],
["HAOYUN49", "lowjiayee", "andy-aw-why"],
["JLoh579", "benchan911", "jichngan"],
["JTWang2000", "katelo731", "lwxymere"],
["Janicetyy", "gmuthu17", "melylopez99"],
["JensonWee", "GanapathySanathBalaji", "Shannonwje"],
["JeremiasLiew", "Bencotti", "hongquan448"],
["Jeremy733", "iceclementi", "jiajuinphoon"],
["JosephLimWeiJie", "yantingsanity", "zi-hui"],
["JustinnT", "harithadiv", "siuhian"],
["Keith-JK", "thanhduc2000", "brandoncjh"],
["MeLoveCarbs", "synCKun", "lowxizhi"],
["NizarMohd", "ananda-lye", "DDzuikeai"],
["NyanWunPaing", "E0309556", "rdimaio"],
["RenzoTsai", "nigellenl", "btricec"],
["Shannonwje", "JensonWee", "GanapathySanathBalaji"],
["SibingWu", "anqi-nus", "lamyuewei"],
["Yukilite", "matthewc97", "joelczk"],
["Zhilin-Huang", "trishaangelica", "sliu107"],
["alaukiknpant", "kokjoon97", "alexlim510"],
["alexlim510", "alaukiknpant", "kokjoon97"],
["alwayshuizhen", "bennychanya", "sitinadiah25"],
["ananda-lye", "DDzuikeai", "NizarMohd"],
["andy-aw-why", "HAOYUN49", "lowjiayee"],
["anqi-nus", "lamyuewei", "SibingWu"],
["benchan911", "jichngan", "JLoh579"],
["bennychanya", "sitinadiah25", "alwayshuizhen"],
["brandoncjh", "Keith-JK", "thanhduc2000"],
["btricec", "RenzoTsai", "nigellenl"],
["chengTzeNing", "g-lilian", "jinfayap"],
["cheongisabella", "yuxianglim", "wangqinNick"],
["dejunnn", "itskesin", "quinnyyy"],
["g-lilian", "jinfayap", "chengTzeNing"],
["gmuthu17", "melylopez99", "Janicetyy"],
["harithadiv", "siuhian", "JustinnT"],
["hongquan448", "JeremiasLiew", "Bencotti"],
["iceclementi", "jiajuinphoon", "Jeremy733"],
["itskesin", "quinnyyy", "dejunnn"],
["jiajuinphoon", "Jeremy733", "iceclementi"],
["jichngan", "JLoh579", "benchan911"],
["jinfayap", "chengTzeNing", "g-lilian"],
["joelczk", "Yukilite", "matthewc97"],
["katelo731", "lwxymere", "JTWang2000"],
["kcubey", "A11riseforme", "DeetoMok"],
["kokjoon97", "alexlim510", "alaukiknpant"],
["lamyuewei", "SibingWu", "anqi-nus"],
["lowjiayee", "andy-aw-why", "HAOYUN49"],
["lowxizhi", "MeLoveCarbs", "synCKun"],
["lwxymere", "JTWang2000", "katelo731"],
["matthewc97", "joelczk", "Yukilite"],
["melylopez99", "Janicetyy", "gmuthu17"],
["nguan1", "rsanchez-macias", "terrytay"],
["nigellenl", "btricec", "RenzoTsai"],
["quinnyyy", "dejunnn", "itskesin"],
["rdimaio", "NyanWunPaing", "E0309556"],
["rsanchez-macias", "terrytay", "nguan1"],
["sitinadiah25", "alwayshuizhen", "bennychanya"],
["siuhian", "JustinnT", "harithadiv"],
["sliu107", "Zhilin-Huang", "trishaangelica"],
["synCKun", "lowxizhi", "MeLoveCarbs"],
["terrytay", "nguan1", "rsanchez-macias"],
["thanhduc2000", "brandoncjh", "Keith-JK"],
["trishaangelica", "sliu107", "Zhilin-Huang"],
["wangqinNick", "cheongisabella", "yuxianglim"],
["yantingsanity", "zi-hui", "JosephLimWeiJie"],
["yuxianglim", "wangqinNick", "cheongisabella"],
["zi-hui", "JosephLimWeiJie", "yantingsanity"]
] %}

Your username | 1st iP to evaluate | 2nd iP to evaluate
--------------|--------------------|------------------
{% for allocation in allocations  -%}
{{ allocation[0] }} | {{ get_links(allocation[1]) }} | {{ get_links(allocation[2]) }}
{% endfor %}
{% endmacro %}